<h1>Day Planner</h1>

  {{#each burgerList}}
      <p>
        {{this.burger_name}}
				<span>
	        <form action="/?_method=PUT" method="POST">
	          <input type="hidden" name="id" value="{{this.id}}">
	          <button type="submit">Devour!</button>
	        </form>
				</span>
      </p>
  {{/each}}


<h2>Create a Plan</h2>
<form method="POST" action="/" class="button-size">
	<textarea type="text" name="burger_name"></textarea>
	<button type="submit">Save Plan!</button>
</form>

<!-- <h2>Update a Plan</h2>
<form action="/?_method=PUT" method="POST" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="text" name="burger_name" placeholder="burger_name"></textarea>
	<button type="submit">Update Plan!</button>
</form> -->
